/**
* CSS Styles for the gallery components
*/

/*
* Magazine Card Components
*/
.magazineCard {
    border: #e14b57 1px solid;
    transition: border 0.5s, box-shadow 1s;
}

.magazineCard:hover {
    box-shadow: 5px 5px 2px #560d4a;
}