@import "tailwindcss";

@layer utilities {
    .font-orbitron {
        font-family: var(--font-orbitron);
    }

    .font-lexend {
        font-family: var(--font-lexend);
    }
}

html,
body {
    height: 100%;
    color: white;
}

body {
    background-image: url('/backgrounds/bg1-big.png');
    background-size: auto;
    background-position: center;
    font-size: medium;
}

p {
    font-family: var(--font-lexend);
    cursor:default;
}

h1, h2, h3 {
    font-family: var(--font-orbitron);
}

ul {
    text-decoration: none;
    list-style: none;
}

li {
    text-decoration: none;
    list-style: none;
}

hr {
    color: #3A4654;
    background: linear-gradient(110deg, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0.65) 47%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.65) 53%, rgba(255, 255, 255, 0) 62%), linear-gradient(180deg, #3A4654 0%, #9AA8B6 18%, #E7EDF2 34%, #7C8B99 50%, #2E3946 58%, #6E7E8C 74%, #AEBAC6 92%, #E7EDF2 100%);
    height: 4px;
}
