@import "tailwindcss";

@layer utilities {
    .font-orbitron {
        font-family: var(--font-orbitron);
    }

    .font-lexend {
        font-family: var(--font-lexend);
    }
}

html,
body {
    height: 100%;
    color: white;
}

body {
    background-image: url('/backgrounds/bg1-big.png');
    background-size: auto;
    background-position: center;
    font-size: medium;
}

p {
    font-family: var(--font-lexend);
    cursor:default;
}

h1, h2, h3 {
    font-family: var(--font-orbitron);
}

ul {
    text-decoration: none;
    list-style: none;
}

li {
    text-decoration: none;
    list-style: none;
}

